<form ng-submit= "submitDate()">
  <input class="btn btn-info" value="Go to Day!" type="submit">
</form>

<div class="col-md-4 stocks-available">
  <table class="table table-inverse table-bordered table-hover">
      <tr>
        <th>Today </th>
        <th>First Day</th>
        <th>One Day </th>
        <th>Seven Days</th>
        <th>Thirty Days</th>
        <th>Trade</th>
      </tr>
      <tr stock-row ng-repeat= "stockObject in stockPrices"  stock-object= "stockObject" trade-day= "day"></tr>
  </table>
</div>
